:root{
    bg-white: #dbdbdb;
    bg-lightgray: #a7a7a7;
    text-dark: #2b2b2b;
    bg-color: #ffffff;
    primary-font: 'Arial', sans-serif;
    secondary-font: 'Verdana', sans-serif;
    third-font: 'Courier New', monospace;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    vertical-align: baseline;
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 1600px;
    height: auto;   
}

